<h2>All Pets</h2>

<% if (pets.length === 0) { %>
    <p>No pets available.</p>
<% } else { %>
    <ul>
        <% pets.forEach(pet => { %>
            <li>
                <div>
                    <strong><%= pet.name %></strong> 
                    (<%= pet.species %>, Age: <%= pet.age %>)<br>
                    <em><div style="font-size: small; color: gray;">Description:</div><%= pet.description %></em><br>
                </div>
                <div id="buttons_div">
                    <a id="edit_button" href="/pets/<%= pet.id %>/edit">Edit</a>
                    <form action="/pets/<%= pet.id %>/delete" method="POST" style="display:inline;">
                        <button type="submit" onclick="return confirm('Are you sure?')">Delete</button>
                    </form>
                </div>
            </li>
        <% }); %>
    </ul>
<% } %>
